@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

#bubbles {
  /* padding-top: 10%; */
  /* padding-bottom: 10%; */
  height: 100vh;
  width: 100vw;
}

